spring:
  application:
    name: pdf-merger-backend

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB

app:
  cors:
    allowed-origins:
      - "http://localhost:4200"
